<div class="widget" ng-controller="autResetPasswordCtrl">

	<div class="widget-hd">
		<h4 class="title" translate="auth.reset_password.title"></h4>
	</div>

	<div class="widget-bd">
		<form name="form" novalidate>

			<!-- new_password -->
			<div class="row">
				<div class="col-xs-offset-4 col-xs-8">
					<label translate="auth.reset_password.form.new_password"></label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-offset-4 col-xs-8">
					<input type="password" name="new_password" class="form-control" ng-model="data.new_password" ng-pattern="/^[\w^~!@#$%^&*()_+]+$/" ng-minlength="6" ng-maxlength="20" required>
				</div>
				<div class="col-xs-10">
					<!-- [INFO] Default -->
					<div class="help-block" translate="auth.reset_password.help.I_PASSWORD"
						 ng-show="form.new_password.$pristine">
					</div>
					<!-- [SUCCESS] OK -->
					<div class="help-block success" translate="auth.reset_password.help.S_OK"
						 ng-show="form.new_password.$dirty && form.new_password.$valid">
					</div>
					<!--  [ERROR] Required, Pattern, Length -->
					<div class="help-block error" ng-bind="newPasswordErrorStr(form.new_password)"
						 ng-show="form.new_password.$dirty && form.new_password.$invalid">
					</div>
				</div>
			</div>

			<!-- new_password_confirm -->
			<div class="row">
				<div class="col-xs-offset-4 col-xs-8">
					<label translate="auth.reset_password.form.new_password_confirm"></label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-offset-4 col-xs-8">
					<input type="password" name="new_password_confirm" class="form-control" ng-model="data.new_password_confirm" password-match="data.new_password" required>
				</div>
				<div class="col-xs-5">
					<!-- [SUCCESS] OK -->
					<div class="help-block success" translate="auth.reset_password.help.S_OK"
						 ng-show="form.new_password_confirm.$dirty && form.new_password_confirm.$valid">
					</div>
					<!--  [ERROR] Required, Pattern, Length -->
					<div class="help-block error" ng-bind="newPasswordConfirmErrorStr(form.new_password_confirm)"
						 ng-show="form.new_password_confirm.$dirty && form.new_password_confirm.$invalid">
					</div>
				</div>
			</div>

			<!-- ok -->
			<div class="row">
				<div class="col-xs-offset-4 col-xs-8">
					<button type="submit" id="ok" class="btn btn-success" translate="auth.reset_password.form.ok"
						ng-disabled="form.$invalid" ng-click="ok()">
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-4 col-xs-8">
					<label>&nbsp;</label>
				</div>
			</div>
		</form>
	</div>

	<div class="widget-ft">
		<div class="row">
			<div class="col-xs-offset-4 col-xs-20">
				<p>{{'auth.signup.text.already_register_account' | translate}} <a href="#/auth/signin" translate="auth.signup.text.signin"></a></p>
			</div>
		</div>
	</div>
</div>
