<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
	<div class="modal-title" translate="invest.watch.delete_watch_modal.title"></div>
</div>

<div class="modal-body">
	<p translate="invest.watch.delete_watch_modal.desp"></p>
</div>

<div class="modal-footer">
	<button class="btn btn-default" translate="invest.watch.delete_watch_modal.cancel" ng-click="cancel()"></button>
	<button class="btn btn-primary" translate="invest.watch.delete_watch_modal.confirm" ng-click="ok()"></button>
</div>