<div class="widget" ng-controller="setPasswordCtrl">

	<div class="widget-hd">
		<h4 class="title" translate="setting.password.title"></h4>
	</div>

	<div class="widget-bd">
		<form name="form" class="form-horizontal" novalidate>

			<!-- password -->
			<div class="form-group">
				<label class="col-xs-6 control-label" translate="setting.password.form.password"></label>
				<div class="col-xs-12">
					<input type="password" name="password" class="form-control" ng-model="data.password" required>
				</div>
			</div>

			<!-- new_password -->
			<div class="form-group">
				<label class="col-xs-6 control-label" translate="setting.password.form.new_password"></label>
				<div class="col-xs-12">
					<input type="password" name="new_password" class="form-control" ng-model="data.new_password" ng-pattern="/^[\w^~!@#$%^&*()_+]+$/" ng-minlength="6" ng-maxlength="20" required>
					<!-- [INFO] Default -->
					<span class="help-block small" translate="setting.password.help.I_NEW_PASSWORD"
						  ng-show="form.new_password.$pristine">
				  	</span>
					<!-- [SUCCESS] OK -->
					<span class="help-block small success" translate="setting.password.help.S_OK"
						  ng-show="form.new_password.$dirty && form.new_password.$valid">
				  	</span>
					<!-- [ERROR] Required -->
					<span class="help-block small error" ng-bind="newPasswordErrorStr(form.new_password)"
						  ng-show="form.new_password.$dirty && form.new_password.$invalid">
					</span>
				</div>
			</div>

			<!-- new_password_confirm -->
			<div class="form-group">
				<label class="col-xs-6 control-label" translate="setting.password.form.new_password_confirm"></label>
				<div class="col-xs-12">
					<input type="password" name="new_password_confirm" class="form-control" ng-model="data.new_password_confirm" password-match="data.new_password" required>
					<!-- [SUCCESS] OK -->
					<span class="help-block small success" translate="setting.password.help.S_OK"
						  ng-show="form.new_password_confirm.$dirty && form.new_password_confirm.$valid">
				  	</span>
					<!-- [ERROR] Required -->
					<span class="help-block small error" ng-bind="newPasswordConfirmErrorStr(form.new_password_confirm)"
						  ng-show="form.new_password_confirm.$dirty && form.new_password_confirm.$invalid">
					</span>
				</div>
			</div>

			<!-- save -->
			<div class="form-group">
				<label class="col-xs-6 control-label"></label>
				<div class="col-xs-12">
					<button class="btn btn-primary" translate="setting.profile.form.ok"
						ng-disabled="form.$pristine || form.$invalid" ng-click="ok()">
					</button>
				</div>
			</div>
		</form>
	</div>

</div>
